<% provide :title, "About" %>
<h1>About Test App</h1>
<p>The purpose of this app is to test the users' knowledge on several subject such as Java, C++, Ruby, Phyton... etc. It will serve as a good platform for reviewing and deeping the user's understanding of the subject</p>
