<div class="col-md-5 cold-md-offset-5">
  <h2> About Category</h2>
  <div>
    <label>Name: </label><%= @category.name %>
  </div>
  <div>
    <label>Description: </label><%= @category.description %>
  </div>
  <div class="col-md-4">
    <%= link_to "Add Question", 
    [:new, :admins, @category, :question],
      class: "btn btn-large btn-primary"  %>
  </div>
  <div class="col-md-2">
    <%= link_to "All Questions", 
    [:admins, @category, :questions],
      class: "btn btn-large btn-primary"  %>
  </div>
</div>
