<h1> All Questions</h1>
<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <%= will_paginate %>

    <table class="table">
      <%= render @questions %>
    </table>

    <%= will_paginate %>

    <%= link_to "Add Question", new_admin_category_question_path,
      class: "btn btn-primary"  %>
  </div>
</div>
