<h1> All Test </h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= search_form_for [:admin, @search], class: "question-form" do |f| %>
      <div class="border">
        <%= f.select :category_id_eq, 
          options_from_collection_for_select(Category.all, :id, :name), 
          class: "test-option form-control",
          style: "width: auto", include_blank: true %>
        <%= f.submit "Choose A Category", 
          class: "btn-choose btn btn-primary btn-large"%>
      </div>
    <% end %>      
  </div>
</div>

<table class="table">
  <tr>
    <th> Test </th>
    <th> User </th>
    <th> Result </th>
    <th> Created At </th>
    <th> Started At </th>
    <th> Status </th>
    <th></th>
  </tr>
  <%= render @tests %>
</table>